@use "../../styles/variables" as *;

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &:not(:first-child) {
    margin: 2rem 0rem;
  }

  &__container {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

    &-icon {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      padding: 0.5rem 1rem;

      svg {
        width: 20px;
        height: 20px;
      }
      p {
        margin-left: 1rem;
      }
      &:hover {
        background: $light-bg;
        color: $dark-text;
      }
    }
  }
}
