* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-grow: 1;
}

.menuContainer {
  width: 200px;
  border-right: 1px solid #ccc;
  padding-left: 20px;
  padding-top: 1rem;
}

.main {
  background: #333333;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentContainer {
  width: 100%;
  overflow: hidden;
  padding-top: 1rem;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  background: #000;
  z-index: 1000;
}
.navbar__name {
  font: bold;
  cursor: pointer;
}
.navbar__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navbar__icons-container {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.navbar__icons-container-notification {
  position: relative;
  cursor: pointer;
}
.navbar__icons-container-notification span {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}
.navbar__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-left: 1rem;
}
.navbar__account-name {
  font-size: large;
}
.navbar__account-container {
  display: flex;
  align-items: center;
}
.navbar__account-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 6px 12px;
  border: 0;
  color: #fff;
  background: rgb(142, 123, 133);
  line-height: 1.15;
  font-size: 16px;
}
.navbar__account-button:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
.navbar__account p {
  cursor: pointer;
}
.navbar__account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.navbar__account svg {
  cursor: pointer;
}

.burgerContainer {
  background: black;
  color: white;
  padding: 2rem;
  height: 100%;
}

.footer__container {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.items:not(:first-child) {
  margin: 2rem 0rem;
}
.items__container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.items__container-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.items__container-icon svg {
  width: 20px;
  height: 20px;
}
.items__container-icon p {
  margin-left: 1rem;
}
.items__container-icon:hover {
  background: #ffffff;
  color: #000000;
}

.box {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  padding: 0 1rem;
}
.box > [class^=box__] {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(26, 21, 21, 0.756);
}
.box__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.box__3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.box__3-message {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.box__5, .box__6, .box__7 {
  padding: 0 !important;
}
.box__5-title, .box__6-title, .box__7-title {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}
.box__7 {
  grid-column: 1/-1;
}
@media (max-width: 1280px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
  .box__3 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
@media (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
  }
}

.authForm {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.authForm__username, .authForm__email, .authForm__password {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.authForm__submit {
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.authForm__submit:hover {
  background: black;
  color: white;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.authContainer__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem;
}
.authContainer__link {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 3rem;
  color: white;
  text-decoration: none;
}
.authContainer__link-text {
  margin-left: 0.5rem;
  color: red;
  text-decoration: underline;
}
.authContainer__link-text:hover {
  font-size: 1.3rem;
  color: white;
  transition: all 0.3s ease;
}

.message {
  padding: 3px;
}
.message__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message__container__content {
  display: flex;
  flex-direction: column;
}
.message__container__content h1 {
  margin-bottom: 1rem;
}

.chart__container {
  height: 80vh;
}
.chart__container-title {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 640px) {
  .fc .fc-toolbar-title {
    padding: 10px;
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */